 .cardHead{
    text-transform: capitalize;
    font-size: 30px;
    border-bottom: 2px solid green;
    margin-bottom: 20px;
    padding: 20px 10px;
    width: fit-content;
    margin-left: 10px;
 }
 .card-content{
    display: flex;
    align-items: flex-start;
 }
 .card-wrapper{
    width: 70%;
 }
 .card-item{
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
    margin-bottom: 20px;
    border-bottom:2px solid gray ;
    
 }
 .card-wrapper-img{
    width: 140px;
    height: 180px;
    object-fit: contain;
 }
 .cardinfo{
    padding: 10px;
    width: calc(100% - 140px);
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
 }
 .cardinfo-title{
    text-transform: capitalize;
    margin-bottom: 20px;
 }
 .cardinfo-author{
text-transform: capitalize;
 }
 .cardinfo-title span,
 .cardinfo-author span{
font-weight: bold;

 }
 .cart-item-quantity{
   font-size: 20px;
   font-weight: bold;

 }
 .cart-item-quantity button{
    padding: 1px 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
 }
 .cart-item-quantity .num{
   margin: 5px;
font-size: 20px;
 }
 .card-price{
    text-align: center;
    margin-top:20px;
   
 }
 .cart-item-quantity i{
    position: absolute;
    right: 0;
    bottom: 0;
    color: red;
    cursor: pointer;
 }

 .card-summery{
    width: 30%;
    border: 1px solid gray;
    margin: 0 10px;
 }
 .order-summery-title{
    font-size: 24px;
    text-transform: uppercase;
    padding: 15px 20px;
 }
 .order-summery-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid gray;
    padding: 10px;
    font-size: 20px;
    text-transform: capitalize;
 }

  /* resposive */

  
  @media (max-width:1200px){
   .card-content{
    flex-direction: column;
   }
   .card-item{
    width: 100%;
   }
   .card-summery{
    width: 320px;
    margin: 20px;
   }
 }
  
  @media (max-width:760px){
    .card-item{
        flex-direction: column;
        align-items: flex-start;
    }
    .card-content{
        justify-content: center;
        align-items: center;
    }
    .cardinfo{
        width: 100%;
        margin-top: 15px;
    }
 }