:root{
  --main_color:#efefef;
  --primary-color:#1976b2;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul{
  list-style: none;
}
body {
background-color: var(--main_color);
}

input:focus{
  outline: none;
}
